body{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.Box{
    width: 800px;
    height: 460px;
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 92%;
    height: 87%;
    display: flex;
    justify-content: space-between;
}

.imagesec{
    width: 39.2%;
    height: 100%;
}

.imagesec>img{
    width: 100%;
    height: 73%;
}

.textsec {
    width: 57%;
    height: 100%;
    border: 1px solid black;
}